# Ignore everything
*

# But not these files...
!.gitignore
!.gitattributes
!.github/**
!.vscode/*
!.goreleaser.yaml
!cmd/**
!docs/*
!examples/**
!wraith/**
!pkg/**
!scripts/**

!*.go
!go.sum
!go.mod

!README.md
!LICENSE
!NOTICE
!Makefile

# ...even if they are in subdirectories
!*/
